.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.city-img {
  max-width:100%;
  max-height:100%;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container, .container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#navbar {

}

.search {
  display: inline;
  margin-right: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 1000px;
  margin: 2rem 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #625eea !important;
  border-color: #625eea !important;
}


.list-item {
  border-top: 1px solid rgb(0, 0, 0, 15%);
  padding: 1.5rem;
}

.right-left {
  display: flex;
  justify-content: space-between;
}

.list-item:first-child { 
  border-top: none; 
}

.destination-list {
  clear: both;
  margin-top: 10px;
}

.search-container .search-button button{
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  background-color: #e9ecef;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.city-box-row {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.city-box-col {
  max-width: 25%;
  flex: 1;
  border: 1px solid rgba(0,0,0,.125);
}

.city-box {
  padding: 1.25rem .5rem;
  margin: 0 10px;
  flex: 1;        /* makes contents same size as parent div (.city-box-col) */
  min-height: 150px; /* Change this to what you need. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: #e9ecef;
  padding: 1em;
  align-items: center;
}

footer > p {
  margin-bottom: 0;
}