.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.city-img {
  max-width:100%;
  max-height:100%;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container, .container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.search {
  display: inline;
  margin-right: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 1000px;
  margin: 2rem auto;
  padding: 0 10px;
}

/* override button colors */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #625eea !important;
  border-color: #625eea !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #e9ecef !important;
  border-color: #e9ecef !important;
  color: black !important;
}

.list-item {
  border-top: 1px solid rgba(0, 0, 0, .125);
  padding: 1.5rem 1rem;
}

.left-right {
  display: flex;
  justify-content: space-between;
}

.clear {
  clear: both;
}

.destination-list {
  flex-grow: 1;
  margin-right: 10px;
  display: grid;
  overflow-y: auto;
}

.list-item:first-child { 
  border-top: none; 
}
.selected-destination {
  background-color: #e9ecef;
  border: 2px solid #625eea !important;
  border-radius: 2px;
}

.search-container .search-button button{
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  background-color: #e9ecef;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.city-box-row {
  margin: 20px 0;
  display: flex;
  column-gap: 20px;
}

.city-box-col {
  max-width: 25%;
  flex: 1;
  border: 1px solid rgba(0,0,0,.125);
}

.city-box {
  flex: 1;        /* makes contents same size as parent div (.city-box-col) */
  min-height: 150px; /* Change this to what you need. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-box-info {
  padding: 10px 10px;
}

footer {
  background-color: #e9ecef;
  padding: 1em;
  align-items: center;
}

.inputContainer {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 4px;
  display: flex;
  width: 300px;
}

/* put in autosuggesttheme file */
.icon {
  position: relative;
  left: 10px;
  width: 24px;
  opacity: 0.5;
  cursor: pointer;
  /* vertical center */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* put above when thin enough */
.mapContainer {
  width: 24vw;
  height: 360px;
}

.location-search-input {
  display: flex;
  flex-grow: 1;
  height: 30px;
  padding: 20px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.autocomplete-dropdown-container {
  display: block;
  position: absolute;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-top: none;
  border-radius: 4px;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 180px;
  overflow-y: auto;
  z-index: 2;
}

.suggestion-item {
  cursor: pointer;
  padding: 10px 20px;
}

.suggestion-item--active {
  background-color: #ddd;
  padding: 10px 20px;
}

footer > p {
  margin-bottom: 0;
}